@font-face {
  font-family: "myFirstFont";
  src: url("./font/Minecraft.ttf");
}


body {
  margin: 0;
  padding: 2.5%;
  font-family: "myFirstFont";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

#container-1{
  display: flex;
  align-items: center;
}

#nav_menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-width: 1.5px ;
  border-style: solid;
  background-color: rgb(251, 251, 251);
}

#nav_menu_item{
  display: flex;
  align-items:center;
  justify-content: space-between;
  gap: 60px;
  font-weight: lighter;
  font-size: 15px;
  padding: 0.3% 2% ;
} 

#nav_menu_item > button{
  border: rgb(251, 251, 251);
  background-color: rgb(251, 251, 251);
  font-family: "myFirstFont";
  cursor: pointer;
} 

#nav_menu_logo > img{
  width: 35px;
  height: 35px;
  padding: 1%;
  margin-left: 5px;
}




#nav_nightButton{
  display: flex;
  justify-content: flex-end; 
  /* background-color: red; */
  align-content: flex-start;
}

#button_wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: blue;
  margin-bottom: 20px;
}

#button_wrapper > button{
  height: 30px;
  width: 45px;
  border-style: solid;
  border-width: 1.5px;
  font-family: "myFirstFont";
  cursor: pointer;
}

#nav_nightButton > #button_wrapper > button > p{
  line-height: 2px;
}

#nav_nightButton_1 {
  background-color: black;
  color: white;
}

#nav_nightButton_2 {
  background-color: white;
  color: black;
}


/* .night-mode-on body{
  background-color: #333333;
  color: white;
  transition: 0.4s ease-in-out;
}
.night-mode-off {
  background-color: #fff;
  color: black;
  transition: 0.4s ease-in-out;
} */
















/* column size */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}